body{
	font-family: 'Montserrat', Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

table, tr, td {
	border: 1px solid #F2F2F2;
	font-family: 'Montserrat', Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 11px;
}
table {
	border-collapse: collapse;
}
h4 {
	margin: 0px;
	padding: 0px;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
.prog_list {
	background-color: #FFA03B;
}
.prog_demonstration {
	background-color: #3BD4FF;
}
.first_row_elem{
	background-color: #D1D1D1;
	float: left;
	padding: 2px;
	margin: 2px;
}
#first_row{
	clear:both;
	padding-top: 10px;
}
#run{
	width: 100%;
}
.top_button{
	width: 49%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
#top_buttons{
	width: 98%;
}
#top_buttons_wrapper{
	padding: 1%;
	background-color: #FCFCFC;
	overflow: auto;
	width: 100%;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	margin-bottom: 5px;
}
#result_table_div{
	padding: 10px;
}
.list{
	background-color: #FAFAFA;
	padding: 5px;
	border: 1px solid #D6D6D6;
}

#captured_texts{
	padding-top: 15px;
}

#start_recording{
	padding-top:50px;
	text-align: center;
}

.recording_circle{
	fill: #E04343;
	opacity: .8;
}

.recording_circle:hover{
  opacity: 1;
}
.nav:hover {
}

#scraped_items_preview {
	background-color: #ffffff;
	border: 1px solid #CFCFCF;
	padding: 20px;
	min-height: 100px;
	margin-top: 20px;
}

#stop_recording{
	padding-top:50px;
	text-align: center;
}

#relations_container{
	background-color: #E3E3E3;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#new_script_content table{
	background-color: #ffffff;
	margin-top: 8px;
}

.relation_preview{
	margin-top: 20px;
}